@import "reset.css";

.carouselWrapper {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidesContainer {

    height: 200px;
    position: relative;
    width: 800px;
}

.button {
    cursor: pointer;
}

.button:active > img {
    transform: scale(0.9);
}


.slide {
    display: none;
    position: absolute;
    z-index: 9;
    height: 200px;
    width: 450px;
    transition-property: all;
    transition-duration: 0.4s;
    -webkit-box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.75);
}

.newNextSlider {

}

.slide > img {
    height: inherit;
    width: inherit;
    object-fit: cover;
}

.prevSlide {
    right: 100%;
    transform: translateX(100%) translateY(-50%) scale(0.8);
    top: 50%;
    display: block;
}



.currentSlide {
    display: block;
    z-index: 10;
    transform: translate(50%, 0)  scale(1);
    top: 0;
    right: 50%;
}

.nextSlide {
    right: 0;
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    display: block;

}
